@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,700&family=Poppins&family=Raleway:wght@400;600&display=swap');

*{
    font-family: raleway, sans-serif;
}
a{
    text-decoration: none;
}
.navbarItems a{
    color: white !important;
    font-weight: 600;
}
.navbarItems a:hover{
    color: rgb(88, 104, 248) !important;
    font-weight: 600;
}
.navbar{
    background-color: rgb(34, 34, 34);
}